body {
    background-color: black;
    color: #82d371;
    margin: 2%;
    padding: 2%;
    text-align: center;
}

.art {
    background-color: black;
    color: #82d371;
}

#artContainer {
    border: 2px solid #abb3a9;
    border-radius: 10px;
    box-shadow: 5px 5px;
    color: #82d371;
    padding: 5px;
}

.card-img-top {
    border-radius: 10px;
}
